body {
	width: 80%;
	margin: 0px auto;
	background-color: #f9f9f9;
    background-image: url(images/a.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}



 /* carousel */
 .active img {
     height: 20em;
     width: 100%;
 }
 .carousel-inner>.item {
    width: 100%;
}
/* about */
body > div > div:nth-child(1) > div > img {
    width: 100%;
}
body > div.container.margin.custom-bg-light 
> div:nth-child(3) > div:nth-child(2), body 
> div.container.margin.custom-bg-light > div:nth-child(2) 
> div:nth-child(1) {
    text-align: left;
}
body > div.container.margin.custom-bg-light 
> div:nth-child(3) > div:nth-child(1) > div {
    padding-bottom: 20px;
}
.content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
body > nav > a > img {
    max-width: 35%;
}
body div img {
    width: 100%;
}
#awards {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer p a {
    text-decoration: none;
    color: inherit !important;
}

.nav-item {
	padding: 5px 10px;
}

.margin {
	margin: 0px auto;
	padding: 40px 10px;
}

.body-heading {
	text-align: center;
}

.body-heading h2 {
	text-align: center;
	text-transform: uppercase;
	margin: 0px auto;
	padding: 10px 5px;
}

.bg-custom-dark {
    /* background: #281f0e !important; */
    background: #E9D8BE !important;
    color: #4d2600 !important;
}

.custom-bg-light {
	background: #fff;
}


/* Footer 
==================================*/


.site-footer {
	padding: 40px 20px;
    background: #281f0e;
}

.site-footer p,
.site-footer span,
.site-footer h4,
.site-footer strong {
    font-weight: 300;
}

.site-footer h4 {
    font-size: 18px;
    font-weight: bold;
}

.site-footer strong {
    font-weight: 500;
}

.site-footer p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.site-footer .copyright {
	text-align: center;
    padding-top: 20px; 
}

/* News
============================*/

.post-title {
	color: #333;
	font-weight: 700;
}

.post-subtitle {
	color: #333;
	font-weight: 300;
}

.post-preview a:hover {
	text-decoration: none;
}

.post-meta {
	font-weight: 500;
	color: #666;
}


/* Contact form
==================================*/
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    border: none;
    border-radius: 1rem;
    padding: 10px 20px;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* Menu 
===========================================*/

.menu-heading {
    padding-top: 30px; 
}

.menu-heading h3 {
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
}

.menu-item strong {
    color: #222;
    font-weight: 400;
    font-size: 18px;
}

.menu-item small {
    color: #a98888;
}

.table {
    margin-bottom: 0px;
    padding: 30px 5px !important; 

}

/* Media Quaries
================================================*/

@media only screen and (min-width: 669px) {
	
}

@media only screen and (max-width: 668px) {
	
}